richwps/src/main/java/net/disy/wps/lkn/msrl-sample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:MSRL-D5-Eutrophierung="http://mdi-sh.org/msrl-d5-eutrophierung" xmlns:MSRL-Daten="http://www.mdi-sh.org/MSRL-Daten" xmlns:RichWPS="http://mdi-sh.org/richwps" xmlns:TESTBEREICH="http://www.mdi-sh.org/testbereich" xmlns:Test_Data2012="http://www.mdi-sh.org/test_data2012" xmlns:Test_WPS="http://mdi-sh.org/test_wps" xmlns:fauna="http://www.mdi-sh.org/fauna" xmlns:gazetteer="http://www.mdi-sh.org/gazetteer" xmlns:gazetteer_2012="http://www.mdi-sh.org/gazetteer_2012" xmlns:gazetteermdiportal="http://mdi-sh.org/gazetteer_mdi_portal" xmlns:gml="http://www.opengis.net/gml" xmlns:lkn_gralg="http://mdi-sh.org/lkn_gralg" xmlns:lkn_orga="http://mdi-sh.org/lkn_orga" xmlns:lkn_topo="http://mdi-sh.org/lkn_topo" xmlns:lkn_zos="http://mdi-sh.org/lkn_zos" xmlns:makrophytenbewertung="http://mdi-sh.org/makrophytenbewertung" xmlns:msrl-daten="http://www.mdi-sh.org/msrl-daten" xmlns:nokis="http://www.nokis.info/nokis" xmlns:schutzgebiete="http://mdi-sh.org/schutzgebiete" xmlns:schutzgebiete84="http://mdi-sh.org/schutzgebiete84" xmlns:topo="http://www.mdi-sh.org/topo" xmlns:vegetation="http://www.mdi-sh.org/vegetation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.mdi-sh.org/MSRL-Daten">
  <xsd:import namespace="http://www.opengis.net/gml" schemaLocation="http://mdi-sh.org:80/geoserver_lkn/schemas/gml/3.1.1/base/gml.xsd"/>
  <xsd:complexType name="D05Type">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="EMF_INSPIREID" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="EMF_BIOGEOREGID" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="EMF_ADDITIONALDESCRIPTION" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="EMF_GEOMETRY" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="EMF_NAME" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="EMF_LEGALBACKGROUND" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="EMF_RESPONSIBLEPARTY" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="EMF_REPORTEDTO" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="EMF_MEDIAMONITORED" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="EMF_MEASUREMENTREGIME" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="EMF_MOBILE" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="EMF_RESULTACQUISITIONSOURCE" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="OBSV_ID" nillable="false" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="OBSV_PARAMETERNAME" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="OBSV_PARAMETERVALUE" nillable="false" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="OBSV_PARAMETERUNIT" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="OBSV_PHENOMENONTIME" nillable="true" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="OBSV_RESULTQUALITY" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="OBSV_RESULTTIME" nillable="true" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="OBSV_VALIDTIME" nillable="true" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="OBSV_EMFID" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MFOI_ID" nillable="true" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="MFOI_OBSERVATIONID" nillable="false" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MFOI_DEPTH" nillable="true" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="GEOMETRY" nillable="true" type="gml:GeometryPropertyType"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MFOI_GEOMETRY" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="D05" substitutionGroup="gml:_Feature" type="MSRL-Daten:D05Type"/>
</xsd:schema>
